.bg-primary{
    background-color:  #3654F1 !important; 
}

.bg-dark{
    background-color:  #051FA6 !important; 
}
.bg-secondary
{
    background-color:  #A61313 !important; 
}

.bg-secondary-dark{
    background-color:  #830606 !important; 
}

.bg-third{
    background-color:  #D9D9D9 !important; 

}
.bg-third-dark{
    background-color:  #939191 !important; 

}